__pycache__/
*.pyc
*.kicad_prl
*.lck
build/
manufacturing/release-revA.zip
hardware/outputs/*
!hardware/outputs/.gitkeep
!hardware/outputs/revA/
hardware/outputs/revA/*.png
!hardware/outputs/revC/
tmp/
